.Contact__container {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 50px 0;
}
.Contact__title {
  margin: auto;
  padding: 0 0 20px 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f4ddc4;
}
.Contact__left,
.Contact__right {
  width: 100%;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.Contact__left__subtitle {
  color: #f4ddc4;
  font-size: 22px;
}
.Contact__right {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.Contact__img {
  margin: 30px 0;
  width: 100%;
  height: 400px;
}
.Contact__img__decor {
  width: 100%;
  height: 40px;
}
input,
textarea {
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 6px 9px 7px;
  margin: 10px 0;
  outline: none;
  background: black;
  color: white;
  border: 2px solid #342627;

  font-family: "Italiana", serif;
}
textarea {
  width: 100%;
  resize: none;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Contact__right__btn {
  font-family: "Italiana", serif;
  align-self: end;
  background-image: linear-gradient(#f5ddc1, #7f6d5f);
  color: #151516;
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 10px 25px;
  border-bottom: 1px solid #988a80;
  border-right: 1px solid #988a80;
  border-radius: 3px;
  transition: 0.15s;
  text-decoration: none;
  cursor: pointer;
}
.Contact__right__btn:hover {
  background-image: linear-gradient(#252525, black);
  color: white;
}


@media (max-width: 1024px){
  .Contact__container {
    flex-direction:column-reverse;
    padding: 30px 0;
  }
  .Contact__left{
    width: auto;
  }
  .Contact__right {
    width: auto;
    margin: 20px 20px 80px 20px;
}
}