
.buttons{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

.btn{
    font-weight: 600;
    padding: .5rem 2rem;
    background-color: #f5d3ae;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.4s cubic-bezier(1,-0.16,.6,1.35);
    cursor: pointer;
}

.btn:not(:last-child){
    margin-right: 1rem;
}

.btn:hover{
    background-color: #f5d3ae;
}

.btn:active, .btn:focus{
    outline: none;
    border: none;
}