.Footer {
  border-top: thick double #f4ddc4;
  padding: 20px;
  margin: 50px 0 0 0;
}
.Footer__top {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px 0 40px 0;
}
.Footer__title {
  font-size: 32px;
  color: #f4ddc4;
  margin: 0 0 20px 0;
}
.Footer__top > .Footer__left,
.Footer__top > .Footer__middle,
.Footer__top > .Footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Footer ul{
display: flex;
flex-direction: column;
}
.Footer ul a{
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.596);
}
.Footer a:hover {
  color: #f4ddc4;
}
.Footer__social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Footer__social__left {
  display: flex;
  align-items: center;
  font-size: 28px;
  padding: 0 15px;
}
.Footer__social__left > span {
  color: #f4ddc4;
  font-size: 18px;
  padding: 0 10px;
}
.Footer__social__right {
  display: flex;
  margin-right: 15px;
}
.Footer__social__right .social-icon {
  margin-left: 15px;
  cursor: pointer;
}
.Footer__social__gap {
  height: 2px;
  width: 100%;
  background: white;
}
.Footer__address {
  display: flex;
  padding: 20px 0 0 0;
  justify-content: space-between;
}
.Footer__address__right {
  display: flex;
}

.Footer__address__right > p {
  margin: 0 0 0 20px;
  cursor: pointer;
  color: white;
}
.Footer__address__right > p:hover {
  color: #f4ddc4;
}
.Footer__address__right_gap {
  height: 100%;
  width: 2px;
  background: white;
  margin: 0 0 0 20px;
}
