*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Italiana', serif;
    color: white;
    background-color: #10121B;
    font-size: 1.2rem;
}

.title{
    padding: 2rem 0;
    text-align: center;
}

h2{
    font-size: 2rem;
    font-weight: 200;
    margin: 1rem 0;
}

h2:hover{
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: #037FFF;
}

p{
    color: rgba(255, 255, 255, 0.596);
}

.item_container > img{
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.item_container > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}



